.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    margin-bottom: 2rem;
}
label {
    display: flex;
    flex-direction: column;
}
input {
    width: 20rem;
    max-width: 30vw;
}
.datalist {
    width: 20rem;
    max-width: 30vw;
}