<div class="container">
    <p class="pagination-display">
        Sida {{currentPage()}} av {{list().maxPages}}. Antal kurser: {{list().totalCourses}}
    </p>
    <div class="controls">
        <button class="pagination-button" (click)="firstPage()">Sida 1</button>
        <button class="pagination-button" (click)="prevPage()">Föregående</button>
        <div class="datalist">
            <app-datalist [items]="itemsPerPageSelections" [id]="'itemsPerPage'" [startingValue]="'30'" [labelText]="'Kurser per sida:'" [readOnly]="true" (value)="onItemsPerPageSelection($event)"></app-datalist>
        </div>
        <button class="pagination-button" (click)="nextPage()">Nästa</button>
        <button class="pagination-button" (click)="lastPage()">Sida {{list().maxPages}}</button>
    </div>
</div>
