table {
    min-width: 1000px;
    // width: 10rem;
    border-collapse: collapse;
    table-layout:fixed;

    th {
        z-index: 2;
        position: sticky;
        top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        
        background-color: var(--primary-bgc);
        cursor: pointer;
        user-select: none;
    }
    td {
        height: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    tbody {
        min-width: inherit;
    }

    background-color: var(--table-bgc);
}

// Kolumner: kurskod, (inte kursnamn), poäng, ämne och lägg till / ta bort.
th:nth-child(1), td:nth-child(1) {
    width: 4rem;
}

th:nth-child(3), td:nth-child(3) {
    width: 4rem;
}

th:nth-child(4), td:nth-child(4) {
    width: 10rem;
}

th:nth-child(5), td:nth-child(5) {
    width: 7rem;
}

.main-row {
    background-color: var(--table-row-bgc);

    transition: background-color 0.2s ease-in-out;

    cursor: pointer;
}

.main-row:hover {
    background-color: var(--table-row-hover-bgc);
}

.empty {
    text-align: center;
}

.sorting {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sorting-button {
    // font-size: 0.8rem;
    font-weight: bold;
    padding-right: 0.5rem;
    width: 4rem;
    background-color: transparent;
    border: none;
    text-align: left;
}

@media screen and (min-width: 768px) {
    table {
        width: 70vw; // Change the size of the table. Personal Note: there's one in list-controls.component too.
        // min-width: 75vw;
        // max-width: 75vw;
    }
    th:nth-child(4), td:nth-child(4) {
        width: 20rem;
    }
}