.frame {
    margin: 0 auto;
    max-width: fit-content;
   
}

.table-container {
    position: relative;

    max-width: fit-content;
    width: 100%;
    
    height: 45vh;

    overflow-x: auto;
    overflow-y: scroll;

    background-color: var(--table-container-bgc);
}



